.league {
  list-style: none;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.league_name {
  text-align: center;
  padding: 2px 0 2px 12px;
  color: #57e17d;
  background-color: rgb(26, 30, 36);
  cursor: pointer;
  width: 100%;
}
