.login_button {
  height: 35px;
  font-size: 14px;
  border-radius: 18px;
  padding: 8px 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  float: none;
  background-color: #57e17d;
}

.login_option {
  height: 25px;
  font-size: 14px;
  padding: 12px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}

.login_options {
  display: flex;
}

.separator {
  font-size: 20px;
  line-height: 1.5;
}

.login_option:hover {
  color: #57e17d;
}
.required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}
