form {
  padding-top: 25px;
  background-color: #ffffff;
}

.welcome {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  text-align: center;

}

.login_container {
  display: flex;
  justify-content: center;
}

.instructions {
  padding: 2px;
  font-size: 22px;
}

.instructions > p {
  margin: 6px;
  text-align: center;
}

.instructions > header {
  font-weight: bold;
}

.login_options > .user_login_control {
  width: 350px;
  height: 80px;
  background-color: #57e17d;
  color: white;
  margin: 15px;
}


@media only screen and (min-width: 500px) {

  .instructions {
    padding: 1px;
  }

  .instructions > p {
    margin: 1px;
  }

  h1 {
    font-size: 30px;
    text-shadow: -1px 0px 14px rgba(0,0,0,0.79), -1px 0px 3px rgba(0,0,0,0.61);
    color: #57E17D;
  
    }
  
    body {
      font-size: 20px;
      line-height: 1.5;
    }
  
    header {
      padding: 15px 15px;
    }
  
    .user_info {
     margin: auto;
    }
  
  }
