.match {
  font-size: 18px;
  padding-top: 5px;
  padding-right: 6px;
}

.match > a {
  color: white;
  text-decoration: none;
  display:inline-block;
  width:100%;
}

.match > a:hover {
  color: black;
}
