html {
	height: 100%;
}
  
  .login_form {
  padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #fff;
	font-size: 16px;
}

  .red {
  color: white;
  padding: 0px 5px;
  max-width: 280px;
}

.password, .email {
  width: 400px;
  margin: 50px auto;
  padding: 20px 30px;
  text-align: left;
}

label {
  display: inline-block;
  width: 80px;
  text-align: left;
  font-size: 12px;
}

#email_login {
  width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

@media only screen and (min-width: 550px) {
  .login_form {
    max-width: 400px;
    padding: 15px;
  }

  .table_login {
    margin-left: 10vw;
  }

  .login_form {
    top: 110px;
  }

  .login_button {
  width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
  }
  
}

@media only screen and (min-width: 850px) {
  .login_form {
    top: 115px;
  }
}


@media only screen and (min-width: 1000px) {
  .table_login {
    margin-left: 15vw;
  }
}
