nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(128, 255, 170);
  padding: 8px 0;
}

.menu_item_user {
  display: flex;
  flex-direction: column;
}

.user_info {
  color: black;
  margin: auto; 
}

.user_info > a {
  color: black;
  font-weight: bold;
}

.menu_item {
  text-transform: uppercase;
  background: none;
  border: none;
  color: black;
}

.menu_item.user_controls {
  display: flex;
  flex-direction: row;
  color: black;
}

.stacked_group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 10px;
}

.history_link, .logout_button, .reload_button {
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 8px;
  border: none;
  cursor: pointer; 
  margin: 4px 0; 
}

.stacked_group > .login_option{
  padding: 0px;
}

.refresh_button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 550px) {

  .burger {
    display: none;
  }

  .betslip_count {
    font-size: 40px;
  }

  .menu_item {
    font-size: 20px;
  }

}

@media only screen and (min-width: 650px) {

  
}
