.league {
  list-style: none;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.league_name {
  text-align: center;
  padding: 2px 0 2px 12px;
  color: rgb(0, 0, 0);
  border: 1px rgb(143, 143, 143) solid;
  background-color: #ffffff;
  cursor: pointer;
  width: 100%;
}

