.league {
  list-style: none;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.league_name {
  text-align: center;
  padding: 2px 0 2px 12px;
  color: white;
  border: 1px rgb(66, 64, 64) solid;
  background-color: black;
  cursor: pointer;
  width: 100%;
}

